.Table {
  font-size: 1rem;
}

.Table .preload-text {
  margin: 3px;
}

.Table .camper  {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
}

.Table .camper a {
  text-decoration: none;
  color: #006400;
}

.Table__header {
  text-align: center;
  font-weight: 500;
}

.Table__header__item {
  background-color: #006400 !important;
  color: #FFF;
}

.Table .camper__rank,
.Table .camper__username,
.Table .camper__recent-points,
.Table .camper__alltime-points {
  box-sizing: border-box;
  background-color: #e2e6e9;
  flex: 1 1 auto;
  border: 3px solid #FFF;
  padding: .5em 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Table .camper__username,
.Table .camper__recent-points,
.Table .camper__alltime-points {
  padding-left: 1em;
  padding-right: 1em;
}

.Table .camper__rank,
.Table .camper__recent-points,
.Table .camper__alltime-points {
  justify-content: center;
}


.Table .camper__rank {
  width: 5%;
}

.Table .camper__username {
  width: 55%;
}
.Table .camper__username img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;
}

.Table .camper__recent-points,
.Table .camper__alltime-points {
  width: 20%;
}
